body {
    background-color: papayawhip;
}
.container {
    width: 600px;
    margin: auto;
}
.skyblue {
    color: deepskyblue;
}
.flex {
    display: flex;
}
.sectionTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: center;
}
.title {
    margin-right: 5px;
}
.bodySection {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.body {
    margin-right: 5px;
}
.header {
    border-bottom: 1px solid;
    font-size: 2em;
    text-align: center;
    padding:10px;
}
.todo{
  padding: 20px 10px;
  font-size: 20px;
  border-bottom: 1px solid;


}
