.container {
 width: 600px;
 margin: auto;
}
.header {
    border-bottom: 1px solid lavender ;
    font-size: 2em;
    text-align: center;
    padding:10px;
}
.todo{
  padding: 20px 10px;
  border-bottom: 1px solid whitesmoke;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.title {
    flex: 1;
    margin-left: 20px;
}
