body {
    background-color: papayawhip;
}
.skyblue {
    color: deepskyblue;
}
.flex {
    display: flex;
}
.sectionTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.title {
    margin-right: 5px;
}
.bodySection {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.body {
    margin-right: 5px;
}
